@model ViewModels.ReportageListViewModel
@{
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}
<div class="page-wrapper" id="sellPage">
	<div class="header-top"></div>
	<section class="page-title" style="background: url(/images/background/2.webp);">
		<div class="container text-center">
			<div class="title">
				<h2 class="black">@Model.Text.Title</h2>
			</div>
			<ul class="title-manu">
				<li><a href="/">صفحه اصلی</a></li>
				<li>></li>
				<li>@Model.Text.Title</li>
			</ul>
		</div>
	</section>
	<section class="gallery-details sg-detail" id="reportage">
		<div class="container">
			<div class="col-lg-12 col-md-12 col-xs-12 report">
				<div class="image-text text-right">
					<div class="section-title text-left">
						<h1 class="text-right color-green">@Model.Text.Title</h1>
					</div>
					<div class="text text-justify">
						<p>@Html.Raw(Model.Text.Body)</p>
					</div>
				</div>
			</div>

			<div class="wrapper wrapperThreeColumns">
				<div class="leftSidebar" id="reportageLeftBasket">
					<div class="theiaStickySidebar">
						<div class="panel panel-default">
							<div class="panel-heading">سبد خرید</div>
							<div class="panel-body">
								<p class="empty-basket">سبد خرید شما خالی است</p>
								<div id="fillBasket">
									<table class="tbl-basket table table-responsive dir-rtl">
										<thead>
											<tr>
												<td>سایت</td>
												<td>قیمت</td>
												<td></td>
												<td>x</td>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="content box">
					<div class="theiaStickySidebar">
						<div id="repo-list">
							<div class="panel panel-primary panel-filter">
								<div class="panel-heading">فیلتر</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4 col-sm-12">نام یا آدرس سایت</div>
										<div class="col-md-8 col-sm-12">
											<input class="form-control" id="txtSite" placeholder="نام یا آدرس سایت" />
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-sm-12">گروه</div>
										<div class="col-md-8 col-sm-12">
											<select id="ddlGroup" class="form-control">
												<option value="0">انتخاب گروه</option>
												@foreach (var group in Model.ReportageGroups)
												{
														<option value="@group.Id">@group.Title</option>
}
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4 col-sm-12">Domain Authority</div>
										<div class="col-md-4 col-sm-6">
											<select id="ddlStartDa" class="form-control">
												<option value="0">از</option>

												@for (int i = 1; i <= 100; i++)
												{
														<option value="@i">@i</option>
}
											</select>
										</div>
										<div class="col-md-4 col-sm-6">
											<select id="ddlFinishtDa" class="form-control">
												<option value="0">تا</option>

												@for (int i = 1; i <= 100; i++)
												{
														<option value="@i">@i</option>
}
											</select>
										</div>
									</div>

									<div class="row">
										<div class="col-md-4">قیمت</div>
										<div class="col-md-4">
											<select id="ddlStartAmount" class="form-control">
												<option value="0">از</option>

												@for (int i = 0; i <= 40; i++)
												{
													decimal amount = i * 50000;
														<option value="@amount">@amount.ToString("N0") تومان</option>
}
											</select>
										</div>
										<div class="col-md-4">
											<select id="ddlFinishtAmount" class="form-control">
												<option value="0">تا</option>

												@for (int i = 0; i <= 40; i++)
												{
													decimal amount = i * 50000;
														<option value="@amount">@amount.ToString("N0") تومان</option>
}
											</select>
										</div>
									</div>

									<div class="row">
										<div class="col-md-4"></div>
										<div class="col-md-8">
											<input type="button" onclick="filterReportage();" value="اعمال فیلتر" class="btn btn-primary" />
										</div>

									</div>
								</div>
							</div>
                            <div class="panel panel-primary panel-special">
                                <div class="panel-heading ">فروش ویژه</div>
                                <div class="panel-body">
                                    <div class="row">
                                        @foreach (var reportage in Model.SpecialReportages)
                                        {
                                            <div class="col-md-4">
                                                <div class="reportage-card item-special">
                                                    <div class="reportage-card-header special-card-header">
                                                        <div class="reportage-name">
                                                            <p>
                                                                @reportage.FullName
                                                            @if (!string.IsNullOrEmpty(reportage.Terms))
                                                            {
                                                                <i data-toggle="tooltip" data-placement="top" title="@reportage.Terms" class="fa fa-exclamation-circle "></i>
                                                            }
                                                        </p>
                                                        <p>@reportage.Address</p>
                                                    </div>
                                                    <div class="reportage-da">
                                                        da: @reportage.DomainAuthority
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="reportage-card-midle">
                                                    <div class="reportage-button">
                                                        <button class="btn btn-success" type="button" onclick="addToBasket('@reportage.ProductId', '1','reportage');"><i class="fa fa-shopping-basket"></i> خرید</button>
                                                    </div>
                                                </div>
                                                <div class="reportage-card-footer">
                                                    @if (reportage.IsInPromotion == true)
                                                    {
                                                        if (reportage.IsDollar)
                                                        {
                                                            <div><del>@string.Format("{0:n0}", reportage.Price) دلار</del>@string.Format("{0:n0}", reportage.DiscountAmount) دلار</div>
                                                        }
                                                        else
                                                        {
                                                            <div><del>@string.Format("{0:n0}", reportage.Price) تومان</del>@string.Format("{0:n0}", reportage.DiscountAmount) تومان</div>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (reportage.IsDollar)
                                                        {
                                                            <div>@string.Format("{0:n0}", reportage.Price) دلار</div>
                                                        }
                                                        else
                                                        {
                                                            <div>@string.Format("{0:n0}", reportage.Price) تومان</div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
							@foreach (var item in Model.ReportageByGroups)
							{
									<div class="panel panel-primary">
										<div class="panel-heading">@item.ReportageGroupTitle</div>
										<div class="panel-body">

											<div class="row">
												@foreach (var reportage in item.Reportages)
												{
														<div class="col-md-4">
															<div class="reportage-card">
																<div class="reportage-card-header">
																	<div class="reportage-name">
																		<p>@reportage.FullName 
																		@if (!string.IsNullOrEmpty(reportage.Terms))
																		{
																			<i data-toggle="tooltip" data-placement="top" title="@reportage.Terms" class="fa fa-exclamation-circle "></i>
																		}
																		</p>
																		<p>@reportage.Address</p>
																	</div>
																	<div class="reportage-da">da: @reportage.DomainAuthority</div>
																	<div class="clearfix"></div>
																</div>
																<div class="reportage-card-midle">
																	<div class="reportage-button">
																		@if (reportage.IsDollar == false)
																		{
																			<button class="btn btn-success" type="button" onclick="addToBasket('@reportage.ProductId', '1', 'reportage');"><i class="fa fa-shopping-basket"></i> خرید</button>
																		}
																		else
																		{
																			<span>تماس بگیرید</span>
																		}
																	</div>
																</div>
																<div class="reportage-card-footer">
																	@if (reportage.IsInPromotion == true)
																	{
																		if (reportage.IsDollar)
																		{
																					<div><del>@string.Format("{0:n0}", reportage.Price) دلار</del>@string.Format("{0:n0}", reportage.DiscountAmount) دلار</div>
}
																		else
																		{
																					<div><del>@string.Format("{0:n0}", reportage.Price) تومان</del>@string.Format("{0:n0}", reportage.DiscountAmount) تومان</div>
}
																	}
																	else
																	{
																		if (reportage.IsDollar)
																		{
																					<div>@string.Format("{0:n0}", reportage.Price) دلار</div>
}
																		else
																		{
																					<div>@string.Format("{0:n0}", reportage.Price) تومان</div>
}
																	}
																</div>
															</div>
														</div>
}
											</div>
										</div>
									</div>
							}
						</div>
						<div class="text text-justify"><p>@Html.Raw(Model.BottomText)</p></div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-lg-10 col-md-10 col-xs-12 col-md-push-1 report">
				<div id="rating">
					<div class="row reportage-rating">
						@Html.Partial("_RatingPartial")
					</div>
				</div>
			</div>
		</div>
		@if (Model.Questions.Count() > 0)
            {
				<div id="accordion">
					<div class="container">
						<div class="accord-heading">
							<h3>سوالات متداول</h3>
						</div>
						<div class="accord-headlines">
							@foreach (var ques in Model.Questions)
							{
									<div class="card">
										<div class="card-header" id="">
											<h5 class="mb-0">
												<button class="btn btn-link" data-toggle="collapse" data-target="#@ques.Id" aria-expanded="true" aria-controls="collapseOne">
													@ques.Title
												</button>
												<i class="fa fa-angle-left"></i>
											</h5>
										</div>
										<div id="@ques.Id" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
											<div class="card-body">
												@Html.Raw(ques.Body)
											</div>
										</div>
									</div>
							}
						</div>
					</div>
				</div>}
	</section>
</div>
<div id="mobileReportageBasket">
	<table class="table" id="mobileBasketRP">
		<tr>
			<td class="mobile-price no-bordertop" id="mobileDiscountReportage"></td>
			<td rowspan="2" class="mobile-rowspan"><a href="/basket?basketType=reportage" style="color: #fff;">نهایی کردن خرید</a></td>
		</tr>
		<tr><td class="mobile-price" id="mobileTotalReportage"></td></tr>
	</table>
</div>
@section StructuredData{
 
	<script type="application/ld+json">
		{
		"@@context": "http://schema.org",
		"@@type": "FAQPage",
		"mainEntity": [{
		"@@type": "Question",
		"name": "رپورتاژ آگهی چه تاثیری بر سئو سایت دارد؟",
		"acceptedAnswer": {
		"@@type": "Answer",
		"text": "کلمات کلیدی استفاده شده در متن رپورتاژ آگهی که به صفحات مهم و با ارزش شما لینک شده‌اند، این سیگنال را به گوگل ارسال می‌کنند که این صفحات دارای اهمیت بالایی بوده و شانس بیشتری برای بالا رفتن در نتایج گوگل پیدا می کنند. "
		}
		},{
		"@@type": "Question",
		"name": "نکات مهم در خرید رپورتاژ آگهی چیست؟",
		"acceptedAnswer": {
		"@@type": "Answer",
		"text": "برای درج رپورتاژ در هر سایت باید به این سه مورد توجه کنید، بررسی فاکتور دامین آتوریتی یا DA، بررسی اسپم اسکور یا SC و در نهایت بررسی عملکرد سایت میزبان در چند ماه گذشته."
		}
		},{
		"@@type": "Question",
		"name": "نحوه نوشتن رپورتاژ آگهی چگونه است؟",
		"acceptedAnswer": {
		"@@type": "Answer",
		"text": "رپورتاژ آگهی باید حداقل دارای 800 کلمه باشد. هر عبارت لینک شده باید در ادامه تیتر‌های جداگانه قرار گرفته باشد. متن نوشته شده برای رپورتاژ آگهی باید منحصر به فرد وعکس‌های استقاده شده نیز اختصاصی و یونیک باشد."
		}
		}]
		}
	</script>
	<script type="application/ld+json">
		{
		"@@context": "http://schema.org",
		"@@type": "NewsArticle",
		"mainEntityOfPage":
		{
		"@@type":"WebPage",
		"@@id":"@ViewBag.Canonical"
		},
		"headline":"@ViewBag.Title",
		"image":["@ViewBag.image"],
		"datePublished":"@ViewBag.creationDate",
		"dateModified":"@ViewBag.ModifiedDate",
		"author":
		{
		"@@type":"Person",
		"name":"راش وب"
		},

		"publisher":
		{
		"@@type":"Organization",
		"name":"راش وب",
		"logo":{
		"@@type":"ImageObject",
		"url":"https://www.rushweb.ir/images/logo.png"
		}
		}
		}
	</script>
}

@section scripts{
	<script>
		function filterReportage() {
			var groupId = $('#ddlGroup').val();
			var startDa = $('#ddlStartDa').val();
			var finishtDa = $('#ddlFinishtDa').val();
			var startAmount = $('#ddlStartAmount').val();
			var finishtAmount = $('#ddlFinishtAmount').val();
			var site = $('#txtSite').val();
			location.href = "/reportage?groupId=" +
				groupId +
				"&amountRange=" +
				startAmount +
				"-" +
				finishtAmount +
				"&daRange=" +
				startDa +
				"-" +
				finishtDa +
				"&site=" +
				site;
		}


		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip();   
			$("#fillBasket").css('display', 'none');
		FillBasket("reportage");
			var groupId = getUrlVars()["groupId"];
			var amountRange = getUrlVars()["amountRange"];
			var daRange = getUrlVars()["daRange"];
			var site = getUrlVars()["site"];
			if (groupId === undefined)
				groupId = 0;

			if (amountRange === undefined)
				amountRange = "0-0";

			if (daRange === undefined)
				daRange = "0-0";

			var amount = amountRange.split("-");
			var da = daRange.split("-");

			$('#ddlGroup').val(groupId);
			$('#ddlStartDa').val(da[0]);
			$('#ddlFinishtDa').val(da[1]);
			$('#ddlStartAmount').val(amount[0]);
			$('#ddlFinishtAmount').val(amount[1]);

			if (site !== undefined) {
				$('#txtSite').val(decodeURIComponent(site));

			}
			if (groupId !== 0 || amountRange !== "0-0" || daRange !== "0-0" || site !== undefined) {
				location.href = "#repo-list";
			}

			$('.leftSidebar, .content, .rightSidebar')
				.theiaStickySidebar({
					additionalMarginTop: 130
				});

		});
	</script>
	<script type="text/javascript" src="/scripts/FrontEndLayout/ResizeSensor.js"></script>
	<script type="text/javascript" src="/scripts/FrontEndLayout/theia-sticky-sidebar.js"></script>
	<script type="text/javascript" src="/scripts/FrontEndLayout/test.js"></script>
	<script type="text/javascript" src="/scripts/FrontEndLayout/custom-shop.js"></script>
}