@model ViewModels.ServiceGroupDetialWebDesingViewModel
@section headSection{
	
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
}
<div class="page-wrapper webdesing-page">

	<section class="banner-section">
		<div class="title-box">
			<h1 class="title">طراحی سایت</h1>
			<div class="braedcrumb d-none d-md-inline-block">
				<span class="braedcrumb-item">خانه</span>
				<span class="braedcrumb-item slash">/</span>
				<span class="braedcrumb-item">طراحی سایت</span>
			</div>
		</div>
		<div class="ribon-box"></div>
		<div class="banner-box">
			<div class="container">
				<div class="banner-box-content text-center">
					<span class="title">طراحی سایت </span>
					<span class="description text-center">@Model.TxtHeader.Summery</span>
					<a class="banner-button" href="/home/contact">مشاوره رایگان</a>
				</div>
			</div>
		</div>
	</section>
	
	
	<section class="main-section">
		<section class="description-section">
			<div class="description-box">
				<div class="container">
					<div class="description-content">
						<div class="row align-items-center">
							<div class="image-box col-12 col-md-6">
								<img class="image" src="@Model.TxtSection2.ImageUrl" alt="@Model.TxtSection2.Title" />
							</div>
							<div class="text-box col-12 col-md-6 pt90">
						@Html.Raw(Model.TxtSection2.Body)
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="why-section">
			<div class="container">
				<div class="why-box">
					<p class="title text-center">
					@Model.TxtWhyNeedSite.Title
					</p>
					<br />
					@Html.Raw(Model.TxtWhyNeedSite.Body)
				</div>
			</div>
		</section>
		<section class="cost-section">
			<div class="container">
				<div class="cost-box">
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="text-box">
								<p class="main-title text-center">@Model.TxtSitePrice.Title</p>
								<br />
								@Html.Raw(Model.TxtSitePrice.Body)

							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="telegram-box">
								<img class="image w-100"
										 alt=""
										 src="/images/telegram.png" />
								<br />
								<span class="telegram-account">
									<span class="telegram-text"> تلگرام راش وب </span>
									<span class="telegram-dot">:</span>
									<span class="telegram-account"> rushwebsupport@@ </span>
								</span>
								<br />
								<span class="more-text text-justify">
									برای مشاوره رایگان طراحی سایت در تلگرام با ما در ارتباط
									باشید
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="site-section spacial">
			<div class="container">
				<div class="spacial-site-box">
					<div class="row">
						<div class="col-12 col-md-6">
							<img class="w-100" alt="@Model.TxtSpecialWebDesign.Title" src="@Model.TxtSpecialWebDesign.ImageUrl" />
						</div>
						<div class="col-12 col-md-6">
							<div class="text-box text-center">
								<span class="icon-container d-block">
									<i class="fas fa-laptop-code"></i>
								</span>
								<p class="text-center main-title">@Model.TxtSpecialWebDesign.Title</p>
								<br />
								@Html.Raw(Model.TxtSpecialWebDesign.Body)

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="site-section shop">
			<div class="container">
				<div class="spacial-site-box">
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="text-box text-center">
								<span class="icon-container d-block">
									<i class="fas fa-shopping-cart"></i>
								</span>
								<p class="text-center main-title">@Model.TxtEshopSite.Title</p>

								<br />
								@Html.Raw(Model.TxtEshopSite.Body)

							</div>
						</div>
						<div class="col-12 col-md-6">
							<img class="w-100" alt="@Model.TxtEshopSite.Title" src="@Model.TxtEshopSite.ImageUrl" />
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="site-section office">
			<div class="container">
				<div class="spacial-site-box">
					<div class="row">
						<div class="col-12 col-md-6">
							<img class="w-100" alt="@Model.TxtEnterpriseSite.Title" src="@Model.TxtEnterpriseSite.ImageUrl" />
						</div>
						<div class="col-12 col-md-6">
							<div class="text-box text-center">
								<span class="icon-container d-block">
									<i class="fas fa-building"></i>
								</span>
								<p class="text-center main-title">@Model.TxtEnterpriseSite.Title</p>
								<br />
								@Html.Raw(Model.TxtEnterpriseSite.Body)

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="wordpress-site-section">
			<div class="container">
				<p class="main-title text-center">@Model.TxtWordpreeSite.Title</p>
				<br />
				@Html.Raw(Model.TxtWordpreeSite.Body)

			</div>
		</section>
		<section class="sample-section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<p class="main-title text-center">نمونه طراحی سایت راش‌وب</p>
						<br />
						<br />
						<p class="sample-description text-center">
							نمونه های طراحی سایت ما در حال تکمیل هستند و به زودی نمونه های
							بیشتری در این صفحه آپلود خواهد شد.
						</p>
					</div>
				</div>
				<br />
				<br />
				<div class="row">
					@foreach (var portfolio in Model.Portfolios)
					{
						
					
					<div class="col-12 col-md-6">
						<div class="box text-center">
							<p class="box-title">@portfolio.Title</p>
							<div class="image-container">
								<img src="@portfolio.ImageUrl" alt="@portfolio.Title" class="image"/>
							</div>
							<p class="text text-center">@portfolio.Summery</p>
						</div>
					</div>
					}

				</div>
				</div>
		</section>
	</section>

</div>
@section StructuredData{
	@if (ViewBag.param == "content-marketing")
    {
			<script type="application/ld+json">
				{
				"@@context": "https://schema.org",
				"@@type": "FAQPage",
				"mainEntity": [{
				"@@type": "Question",
				"name": "چرا نباید محتوای سایت های دیگر را کپی کرد؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": "محتوای تکراری یا Duplicate content به هیچ وجه دلخواه گوگل نیست. گوگل اصلا قرار نیست به وبسایت هایی که مطالب دیگران یا حتی مطالب خودشان (از صفحه دیگری) را کپی می کنند و در انتظار جایگاهی در نتایج جستجو هستند، جایگاه بدهد. جدای از آن در صورت شکایت نویسنده اصلی به گوگل صفحه شما پاک می شود و ممکن است شامل جریمه های سنگین تری نیز بشوید.
				<a href='https://www.rushweb.ir/blog/Duplicate-content'> محتوای تکراری</a> مانند آفتی به جان سایت شما می افتد و رتبه های شما را یکی پس از دیگری از شما می گیرد. "
				}
				},{
				"@@type": "Question",
				"name": "نکات مهم در نوشتن محتوا برای سایت چیست؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": " پیش از هرچیز مخاطبان خود را بررسی کنید. مخاطبانی که وارد سایت می شوند انتظار روبرو شدن با چه مطالبی را دارند؟ چه سوال هایی ممکن است برایشان پیش بیاید و تا چه اندازه می توانید دقیق به آنها پاسخ دهید؟ اولین قدم برای
				<a href='https://www.rushweb.ir/blog/website-content-strategy'>نوشتن محتوا</a> برای مخاطبین این است که به جای آنها فکر کنیم، به سوالاتی که ممکن است برای آن ها پیش بیاید پاسخ دهیم."
				}
				},{
				"@@type": "Question",
				"name": "لینک سازی داخلی محتوای سایت چگونه باشد؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": "هر زمان مطلب تازه ای بر روی سایت آپلود می کنید می توانید به مطالب و صفحات دیگر
				<a href='https://www.rushweb.ir/blog/internal-link-building'>لینک سازی داخلی</a> کنید. با این ترفند هم به مخاطبان نشان می دهید که در صورت نیاز به اطلاعات بیشتر می توانند کلیک بعدی را انجام دهند هم گوگل متوجه می شود هر صفحه را با چه عباراتی نشان می دهید و احتمالا صفحه هدف شما در عبارت لینک شده پاسخ مناسبی می دهد. پس در صورت بالا رفتن اعتبار دامنه شما تمام این لینک ها با ارزش تر می شوند."
				}
				}
				]}
			</script>
    }
	@if (ViewBag.param == "seo")
    {
			<script type="application/ld+json">
				{
				"@@context": "https://schema.org",
				"@@type": "FAQPage",
				"mainEntity": [{
				"@@type": "Question",
				"name": "چگونه سئو را یاد بگیریم؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": "محتوای تکراری یااگر می خواهید سئو را یاد بگیرید بهترین کاری که می توانید بکنید شروع سئو سایت خودتان است. می توانید با
				<a href="https://www.rushweb.ir/blog/list/seo"> مقالات آموزش سئو رایگان </a>شروع به کار کنید. هم چنین از ابزارهای سئو شناخته شده کمک بگیرید تا بهینه ترین حالت هر صفحه را بسازید."
				}
				},{
				"@@type": "Question",
				"name": "چرا هزینه برخی پروژه های سئو زیاد و برخی کم است؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": " دلایل زیادی وجود دارند که می توانند باعث شوند که هزینه سئو سایتی بالا و یا پایین باشد. رقابت زیاد در عبارات کلیدی، رتبه فعلی سایت، تحقیقات گسترده برای
				<a href="https://www.rushweb.ir/serviceGroup/content-marketing">تولید محتوا</a>، شروع سئو سایت از صفر و هزینه های کلی سازماندهی یک برند به صورت آنلاین عوامل افزایش قیمت پروژه هستند."
				}
				},{
				"@@type": "Question",
				"name": "آیا یادگیری سئو راحت است؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": "یادگیری سئو امری راحت نخواهد بود اما برای متخصص  شدن در هر زمینه ای احتیاج به تلاش و پشتکار است، سئو نیز از این قاعده مستثنی نمی شود. سئو شغلی لذت بخش است که به مطالعه مداوم نیاز دارد. قبل از شروع جستجو و مطالعه درباره سئو بد نیست تا نگاهی به مقالات آموزش سئو راش وب بیاندازید و از اولین مقاله منتشر شده در انتهای صفحه شروع کنید."
				}
				}
				]}
			</script>
    }
	@if (ViewBag.param == "web-design")
    {
			<script type="application/ld+json">
				{
				"@@context":"https://schema.org",
				"@@type":"FAQPage",
				"mainEntity":[{"@@type":"Question","name":"طراحی سایت با کدام سیستم مدیریت محتوا برای سئو بهتر است؟",
				"acceptedAnswer":
				{"@@type":"Answer",
				"text":"در پاسخ به این سوال باید گفت تفاوتی ندارد شما با چه سیستمی محتوای وبسایت خود را مدیریت می کنید، رعایت اصول سئو باید اصلی ترین هدف شما باشد. با رعایت تمام معیارها و فاکتورهای سئو، از محتوای ارزشمند گرفته، سئو تکنیکال، سئو داخلی و خارجی سایت شما باید هماهنگی لازم را داشته باشند و در بهترین شرایط نسبت به رقبا باشید. در این صورت می توان گفت هیچ تفاوتی در سیستم مدیریت محتوا وجو ندارد. اما همه این مسائل نیز در نهایت به طراحی سایت حرفه ای و UI کاربر پسند نیاز خواهد داشت تا بتواند تجربه خوبی برای کاربر به ارمغان بیاورد."}},
				{"@@type":"Question",
				"name":"هزینه طراحی سایت در راش وب چقدر است؟",
				"acceptedAnswer":{"@@type":"Answer","text":"همانطور که پیشتر نیز گفتیم، هزینه طراحی سایت به عوامل زیادی مانند زبان برنامه نویسی، سیستم مدیریت محتوا، امکانات بخصوص و ... بستگی دارد. اما ما در راش وب کف قیمت طراحی سایت شرکتی را کمتر از دو میلیون تومان قرار داده ایم، این هزینه شامل خرید هاست، دامنه و SSL نیز می شود. طراحی سایت ها به صورت کاملا اصولی و با رعایت تمام نکات ریز و درشت سئو سایت صورت می گیرد. حسن انجام پروژه شما توسط راش وب این است که هم طراحی سایت و هم چنین سئو سایت روی عبارات کلیدی شما توسط ما انجام خواهد شد."}},
				{"@@type":"Question",
				"name":"طراحی سایت شامل چه مواردی می شود؟",
				"acceptedAnswer":{"@@type":"Answer","text":"مسلما و بدون شک ساخت و تولید محتوای متنی و تصویری صفحاتی مانند صفحه اصلی، تماس با ما و خدمات یا محصولات با همکاری و همفکری میان مشاوران ما و شما صورت می گیرد. معمولا وبسایت شما با یک قالب و ظاهر آماده تحویل داده می شود و متون بی معنی در آن اضافه می گردد و شما می توانید هرگونه تغییراتی که می خواهید به طراح سایت بسپارید تا انجام دهد. هم چنین برای بخش های اصلی سایت محتوای خود را بنویسید. بخش مقالات نیز توسط راش وب تکمیل می گردد و مقالات هزینه ای مشخص طبق تعرفه تولید محتوا دارد."}}]
				}
			</script>
    }

	<script type="application/ld+json">
		{
		"@@context": "http://schema.org",
		"@@type": "NewsArticle",
		"mainEntityOfPage":
		{
		"@@type":"WebPage",
		"@@id":"@ViewBag.Canonical"
		},
		"headline":"@ViewBag.Title",
		"image":["@ViewBag.image"],
		"datePublished":"@ViewBag.creationDate",
		"dateModified":"@ViewBag.ModifiedDate",
		"author":
		{
		"@@type":"Person",
		"name":"راش وب"
		},
		"publisher":
		{
		"@@type":"Organization",
		"name":"راش وب",
		"logo":{
		"@@type":"ImageObject",
		"url":"https://www.rushweb.ir/images/logo.png"
		}
		}
		@*,
			"description":"@ViewBag.Description",
			"aggregateRating":
			{
			"@@type":"AggregateRating",
			"ratingValue":"@ViewBag.rate",
			"bestRating":"5",
			"ratingCount":"@ViewBag.RatingCount",
			"worstRating":"1"
			}*@
		}
	</script>
}
