
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>@ViewBag.Title</title>
<meta name="description" content="@ViewBag.Description">
<link rel="canonical" href="@ViewBag.Canonical" />
<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="enamad" content="943291" />
<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
	<link rel="icon" href="/images/favicon.png" type="image/x-icon">
	<link rel="preload" as="font" href="https://www.rushweb.ir/fonts/iransans/IRANSansWebFaNum.ttf" type="font/ttf" as="font" crossorigin="anonymous">
	<link rel="preload" as="font" href="https://www.rushweb.ir/fonts/IranSans/IRANSansWebFaNum.woff2" type="font/woff2" as="font" crossorigin="anonymous">
	<link rel="preload" as="font" href="https://www.rushweb.ir/fonts/IranSans/IRANSansWebFaNum.woff" type="font/woff" as="font" crossorigin="anonymous">
	<link rel="preload" as="font" href="https://www.rushweb.ir/fonts/iransans/IRANSansWebFaNum.eot" type="font/eot" as="font" crossorigin="anonymous">
	<link rel="preload" as="font" href="https://www.rushweb.ir/fonts/fontawesome/fontawesome-webfont.ttf" type="font/ttf" as="font" crossorigin="anonymous">
	<link rel="preload" as="font" href="https://www.rushweb.ir/fonts/fontawesome/fontawesome-webfont.woff2" type="font/woff2" as="font" crossorigin="anonymous">
	<link rel="preload" as="font" href="https://www.rushweb.ir/fonts/fontawesome/fontawesome-webfont.woff" type="font/woff" as="font" crossorigin="anonymous">
	<link rel="preload" as="font" href="https://www.rushweb.ir/fonts/fontawesome/fontawesome-webfont.eot" type="font/eot" as="font" crossorigin="anonymous">
	<link rel="preload" as="font" href="https://www.rushweb.ir/fonts/fontawesome/fontawesome.otf" type="font/otf" as="font" crossorigin="anonymous">
@RenderSection("StructuredData", required: false)
@RenderSection("headSection", required: false)
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-136244756-1');
	</script>
</head>
<body>
<div class="page-wrapper">
<div class="header-top"></div>
@Html.Partial("FrontEnd/_MenuPartial")
@RenderBody()
@Html.Partial("FrontEnd/_FooterPartial")
	<div class="whatsapp-icon">
		<a href="https://api.whatsapp.com/send?phone=989102940709&text=سلام و وقت بخیر" target="_blank" rel="nofollow noreferrer">
			<img src="~/images/whatsappicon.jpg" />
		</a>
	</div>
</div>
<div class="scroll-to-top scroll-to-target" data-target=".header-top"><span class="icon fa fa-angle-up"></span></div>
<link href="/Content/FrontEndLayout/bootstrap.css" rel="stylesheet">
<link href="/Content/FrontEndLayout/responsive.css" rel="stylesheet">
<link href="/Content/FrontEndLayout/style.css" rel="stylesheet">
<link href="/Content/FrontEndLayout/style-rtl.css" rel="stylesheet" />
<script src="/Scripts/FrontEndLayout/jquery.js"></script>
<script src="/Scripts/FrontEndLayout/bootstrap.min.js"></script>
<script src="/Scripts/FrontEndLayout/jquery.fancybox.pack.js"></script>
<script src="/Scripts/FrontEndLayout/jquery.fancybox-media.js"></script>
<script src="/Scripts/FrontEndLayout/html5lightbox.js"></script>
<script src="/Scripts/FrontEndLayout/isotope.js"></script>
<script src="/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/Scripts/FrontEndLayout/owl.carousel.min.js"></script>
<script src="/Scripts/FrontEndLayout/validate.js"></script>
<script src="/Scripts/FrontEndLayout/wow.js"></script>
<script src="/Scripts/FrontEndLayout/jquery.appear.js"></script>
<script src="/Scripts/FrontEndLayout/jquery.countTo.js"></script>
<script src="/Scripts/FrontEndLayout/script.js"></script>
<script src="~/Scripts/FrontEndLayout/custom.js"></script>
<script type="text/javascript">
window.vasleSettings = {
    app_id: "hIXqOvi5",
}
</script>
@RenderSection("scripts", required: false)
	
</body>
</html>