@model ViewModels.OrderDetailViewModel
@{
		ViewBag.Title = "سفارش " + @Model.Order.Code;
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}
<div class="page-wrapper" id="sellPage">
	<div class="header-top"></div>
	<section class="page-title" style="background: url(/images/background/2.jpg);">
		<div class="container text-center">
			<div class="title">
				<h2 class="black"> @ViewBag.Title</h2>
			</div>
			<ul class="title-manu">
				<li><a href="/">صفحه اصلی</a></li>
				<li>></li>
				<li><a href="/orders/list">لیست سفارشات</a></li>
				<li>></li>
				<li>سفارش @Model.Order.Code</li>
			</ul>
		</div>
	</section>
	<section class="gallery-details sg-detail" id="reportage">
		<div class="container">


			<div class="col-lg-9 col-md-9 col-xs-12 report">
				<div class="panel panel-primary panel-filter">
					<div class="panel-heading">
						اطلاعات سفارش
					</div>
					<div class="row panel-body">
						<div class="col-md-6 float-right">
							<div class="col-md-4 float-right">شماره سفارش:</div>
							<div class="col-md-8 float-right text-right">@Model.Order.Code</div>
							<div class="col-md-4 float-right">تاریخ سفارش:</div>
							<div class="col-md-8 float-right text-right">@Model.Order.CreationDate.ToShortDateString()</div>
						</div>
						<div class="col-md-6 float-right">
							<div class="col-md-4 float-right">وضعیت سفارش:</div>
							<div class="col-md-8 float-right text-right">@Model.Order.OrderStatus.Title</div>
							<div class="col-md-4 float-right">وضعیت پرداخت</div>
							<div class="col-md-8 float-right text-right">

								@if (Model.Order.IsPaid)
								{
										<span><i style="color: green" class="fa fa-check"></i> پرداخت شده</span>
								}

								else
								{
										<span><i style="color: red" class="fa fa-remove"></i> عدم پرداخت</span>

								}
							</div>
						</div>

					</div>
				</div>
				<div class="panel panel-primary panel-filter">
					<div class="panel-heading">
						جزئیات سفارش
					</div>
					<div class="row panel-body">

						<table class="table-responsive table-striped report-table table-bordered bl">
							<tr>
								<th>ردیف</th>
								<th>محصول</th>
								<th>وضعیت ردیف</th>
								<th>تعداد</th>
								<th>فی</th>
							@if (Model.Order.OrderType == "backlink")
	{
		<th>تاریخ انقضا</th>

	}
								<th>محتوا</th>

							</tr>
							@{int RowNo = 0;}
						@if (Model.Order.OrderType == "reportage"|| Model.Order.OrderType == "backlink")
						{
							foreach (var orderDetailInfo in Model.OrderDetailInformations)
							{
								 <tr>
									 <td>@(RowNo += 1)</td>
									 @if (Model.Order.OrderType == "reportage"|| Model.Order.OrderType == "backlink")
									 {
										 <td>@orderDetailInfo.OrderDetail.Product.Title</td>
									 }
									 else if (Model.Order.OrderType == "package")
									 {
										 <td></td>

									 }
									 <td>@orderDetailInfo.OrderDetailStatus.Title</td>
									 <td>1</td>
									 <td>@String.Format("{0:n0}", orderDetailInfo.OrderDetail.Price)</td>

							@if (Model.Order.OrderType == "backlink")
							{
								if (orderDetailInfo.FinishDate != null)
								{
									<td>@orderDetailInfo.FinishDate.Value.ToShortDateString()</td>
								}
								else
								{
									<td></td>
								}
							}
									 <td>
										 @if (orderDetailInfo.OrderDetail.Product.ProductType.Name == "reportage")
										 {
											 if (orderDetailInfo.OrderDetailStatus.Code < 3)
											 {
												 <a href="#" class="btn btn-primary uploadBtn" id="@orderDetailInfo.Id">آپلود متن رپورتاژ</a>
												 <input type="file" name="FileUpload" class="hidden" id="fileInput_@orderDetailInfo.Id" onchange="FileUpload('@orderDetailInfo.Id');"/>
											 }
											 else
											 {
												 <a href="@orderDetailInfo.FileUrl" class="btn btn-warning" target="_blank">دانلود محتوای بارگزاری شده</a>
											 }

											 if (orderDetailInfo.OrderDetailStatus.Code == 5)
											 {
												 <a href="@orderDetailInfo.PublishLink" class="btn btn-default" target="_blank">مشاهده رپورتاژ منتشر شده</a>

											 }
										 }
										 else if (orderDetailInfo.OrderDetail.Product.ProductType.Name == "package")
										 {
											 <a href="/order/package/@orderDetailInfo.OrderDetail.Id" class="btn btn-primary uploadBtn" id="@orderDetailInfo.OrderDetail.Id">مشاهده جزییات پکیج</a>
 }
										 else if (orderDetailInfo.OrderDetail.Product.ProductType.Name == "backlink")
										 {
												<a href="/order/backlink/@orderDetailInfo.OrderDetail.Id" class="btn btn-primary uploadBtn" id="@orderDetailInfo.OrderDetail.Id">ثبت مشخصات بک لینک</a>

										 }
									 </td>
								 </tr>
							 }
						}
						else if (Model.Order.OrderType == "package")
						{
							 foreach (var orderDetail in Model.OrderDetails)
							{
									<tr>
										<td>@(RowNo += 1)</td>
									
											<td>@orderDetail.Product.Title</td>
 
								
										<td>@orderDetail.OrderDetailStatus.Title</td>
										<td>@orderDetail.Quantity</td>
										<td>@String.Format("{0:n0}", orderDetail.AmountStr)</td>


										<td>
											<a href="/order/package/@orderDetail.Id" class="btn btn-primary uploadBtn" id="@orderDetail.Id">مشاهده جزییات پکیج</a>
										</td>
									</tr>
							}
						}
						</table>

					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-xs-12 report">
				@Html.Partial("FrontEnd/_UserSidebarPartial")


			</div>

		</div>
	</section>
</div>

@section scripts{
	<script src="~/Scripts/FrontEndLayout/jquery.js"></script>
	<script type="text/javascript">

		$(".uploadBtn").click(function () {
			var id = $(this).attr('id');
			console.log(id);
			$("#fileInput_" + id).click();
		});
		function FileUpload(orderDetailId) {
			var formdata = new FormData();
			var fileInput = document.getElementById('fileInput_' + orderDetailId);
			var newFileName = orderDetailId + '.' + fileInput.files[0].name.split('.')[1];
			formdata.append('file', fileInput.files[0], newFileName);

			$.ajax({
				async: true,
				type: 'POST',
				url: '/orders/Upload',
				data: formdata,
				cache: false,
				processData: false,
				contentType: false,

				success: function (data) {
					alert('فایل شما با موفقیت بارگذاری شد');
				},
				error: function (error) {
					alert("خطایی رخ داد! مجددا تلاش نمایید");
				}
			});
		}
	</script>
}