@model ViewModels.ServiceGroupDetialViewModel
@section headSection{
	
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
}
<div class="page-wrapper">

	<section class="banner-section">
		<div class="title-box">
			<h1 class="title">طراحی سایت</h1>
			<div class="braedcrumb d-none d-md-inline-block">
				<span class="braedcrumb-item">خانه</span>
				<span class="braedcrumb-item slash">/</span>
				<span class="braedcrumb-item">طراحی سایت</span>
			</div>
		</div>
		<div class="ribon-box"></div>
		<div class="banner-box">
			<div class="container">
				<div class="banner-box-content text-center">
					<span class="title">طراحی سایت </span>
					<span class="description text-center">طراحی سایت برای همه کسب و کارها حائز اهمیت است. بسیاری از شرکتهای
						مهندسی یا تولیدی وبسایت هایی بسیار مدرن، زیبا و بسیار جذاب دارند
						که مملو از محتوا و ویژگی هایی هستند که مشتری می تواند برای مدت
						زیادی سرگرم مطالعه درباره محصولات یا خدمات آنها شود.</span
					>
					<button class="banner-button">مشاوره رایگان</button>
				</div>
			</div>
		</div>
	</section>
	
	
	<section class="main-section">
		<section class="description-section">
			<div class="description-box">
				<div class="container">
					<div class="description-content">
						<div class="row align-items-center">
							<div class="image-box col-12 col-md-6">
								<img class="image"
										 src="/images/description.png"
										 alt="" />
							</div>
							<div class="text-box col-12 col-md-6 pt90">
								<p class="text text-justify">
									همین زمانی که کاربران روی سایت می گذرانند می تواند منجر به
									جذب آنها و استفاده از خدمات یا خرید محصولات شرکت شود. طراحی
									سایت در بالا بردن نرخ تبدیل کاربران به مشتری فعال نقش بسزایی
									ایفا می کند.
								</p>
								<p class="text text-justify">
									در حالی که برخی شرکت های دیگر، تصمیم می گیرند تا هزینه های
									ویترین دیجیتال خود را با طراحی یک سایت ساده یا عدم طراحی
									سایت کاهش دهند که مسلما اثرگذاری آنها را در فضای اینترنت
									بسیار کاهش می دهد. اما همین امر آنها را در رقابت با رقیبان
									بازار خود بر سر بازار هدف آنلاین چند گام بزرگ عقب می اندازد.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="why-section">
			<div class="container">
				<div class="why-box">
					<p class="title text-center">
						چرا برای موفقیت به طراحی سایت نیاز داریم؟
					</p>
					<br />
					<p class="text text-justify">
						چه احتیاجی به سایت داریم یا سایت چه کاری برای ما انجام می دهد؟ به
						قول خودمان چه دردی از ما دوا می کند؟ جواب پرسش اول این است که برای
						حضور در فضای اینترنت و در اختیار گرفتن بخش کوچکی از این بازار بی
						انتها به سایت احتیاج خواهید داشت. وبسایت شما ویترین شماست.
						بازاریاب خدمات شما و یا یک تور در آموزشگاه موسیقی شما محسوب می
						شود.
					</p>
					<p class="text text-justify">
						اما برای پاسخ به پرسش دوم، شما می توانید با معرفی وبسایت خود به
						مشتریان آنها را با خدمات خود آشنا کنید و هم چنین از آخرین خبرهای
						مجموعه با عضویت در خبرنامه مطلع کنید.
					</p>
					<p class="text text-justify">
						علاوه بر این، یکی از بهترین راه های کسب درآمد از وبسایت، سئو سایت
						است. سئو به زبان ساده یعنی وقتی که کاربری به دنبال ثبت نام در کلاس
						های زبان انگلیسی می گردد و در گوگل عبارت “کلاس زبان انگلیسی” را
						جستجو می کند، وبسایت شما در بالای نتایج جستجو توسط گوگل به کاربر
						نشان داده شود. هر چه سایت شما در نتایج جستجو عبارات مرتبط با کسب و
						کارتان جایگاه بهتری داشته باشد به معنی قدرت بالای سئو سایت شما
						است. سئو می تواند هدفمندترین مشتریان بازار هدف شما را به وبسایت
						هدایت کند. شاید برای شما جالب باشد که بدانید برندهای بزرگ هزینه
						های بسیار بالایی را برای بهبود سئو سایت پرداخت می کنند، بودجه های
						گزافی برای یک پله بالاتر آمدن در گوگل سرمایه گزاری می کنند، چرا که
						از بازگشت سرمایه اطمینان دارند.
					</p>
				</div>
			</div>
		</section>
		<section class="cost-section">
			<div class="container">
				<div class="cost-box">
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="text-box">
								<p class="main-title text-center">قیمت طراحی سایت</p>
								<br />
								<p class="text-justify">
									قیمت طراحی سایت و هزینه های مرتبط با آن چگونه محاسبه می شود؟
									به هیچ وجه نمی توان یک معیار و ملاک کلی برای قیمت و تعرفه
									طراحی سایت ارائه کرد، بلکه باید مواردی مانند ویژگی های سایت،
									امکاناتی که برای آن در نظر می گیرید و حتی کارهای گرافیکی یا
									تولید محتوا را محاسبه کنید. خرید هاست و دامنه نیز همین طور،
									هم چنین ساعت ها زمانی که طراح سایت برای کار شما وقت می
									گذارد.
								</p>
								<p class="text-justify">
									با این تفاسیر، هزینه طراحی سایت بسته پس از مشاوره و شنیدن
									نیازهای شما به عنوان صاحب کسب و کار تعیین می گردد. بسته به
									نوع قرارداد که طراحی سایت اختصاصی یا با قالب های آماده است و
									یا به زبان برنامه نویسی ASP یا با سیستم مدیریت محتوای
									وردپرس، مدیریت می شود، هزینه پروژه متفاوت خواهد بود.
								</p>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="telegram-box">
								<img class="image w-100"
										 alt=""
										 src="/images/telegram.png" />
								<br />
								<span class="telegram-account">
									<span class="telegram-text"> تلگرام راش وب </span>
									<span class="telegram-dot">:</span>
									<span class="telegram-account"> rushwebsupport@@ </span>
								</span>
								<br />
								<span class="more-text text-justify">
									برای مشاوره رایگان طراحی سایت در تلگرام با ما در ارتباط
									باشید
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="site-section spacial">
			<div class="container">
				<div class="spacial-site-box">
					<div class="row">
						<div class="col-12 col-md-6">
							<img class="w-100" alt="" src="/images/laptop.png" />
						</div>
						<div class="col-12 col-md-6">
							<div class="text-box text-center">
								<span class="icon-container d-block">
									<i class="fas fa-laptop-code"></i>
								</span>
								<p class="text-center main-title">طراحی سایت اختصاصی</p>
								<br />
								<p class="text-justify">
									در این نوع سایت ها، کدنویسی سایت شما به صورت کامل توسط ما
									انجام می شود و با توجه به نیازهای شما تقریبا هرگونه انتظاری
									که از وبسایت دارید برآورده خواهد شد. سایت راش وب، به زبان
									ASP و بصورت کاملا اختصاصی نوشته شده است. اگر انتظارات ویژه
									ای که بدون کدنویسی قابل حل نباشند از وبسایت خود دارید،
									پیشنهاد ما طراحی سایت اختصاصی خواهد بود. البته هزینه این روش
									به مراتب بسیار بیش تر از استفاده از قالب های آماده و یا
									سیستم های مدیریت محتوای در دسترس مانند وردپرس خواهد بود و می
									توان گفت به غیر از اینکه امکانات ویژه ای را می توانید بر روی
									سایت پیاده سازی کنید، برتری دیگری ندارد، هر چند هم چنان می
									توان برای قالب های مختلف افزونه های مختلف طراحی کرد و تقریبا
									امکانات بسیار نایابی وجود دارد که بر روی قالب های آماده
									وردپرس قابل پیاده سازی نباشد.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="site-section shop">
			<div class="container">
				<div class="spacial-site-box">
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="text-box text-center">
								<span class="icon-container d-block">
									<i class="fas fa-shopping-cart"></i>
								</span>
								<p class="text-center main-title">طراحی سایت فروشگاهی</p>
								<br />
								<p class="text-justify">
									حتما تا به حال برای شما هم پیش آمده که از یک فروشگاه
									اینترنتی آنلاین خریدی انجام دهید. فروش اینترنتی برخی فروشگاه
									ها، بعضا به قدری نسبت به فروش حضوری بهتر است که ترجیح می
									دهند کار خود را فقط بر روی اینترنت جلو ببرند. رعایت اصول سئو
									نیز در سایت های فروشگاهی اهمیتی دو چندان پیدا می کند، شما با
									هر رتبه که بالاتر بیایید و کلیک های بیشتری دریافت کنید،
									فروشگاه خود را مملو از مشتریان هدفمند کرده اید.
								</p>
								<p class="text-justify">
									اگر تا به حال برای بالا بردن فروش آنلاین خود برنامه ریزی
									نداشته اید، می توانید با طراحی سایت فروشگاهی شروع کنید. ما
									به شما در آنالیز کلمات کلیدی، یافتن بهترین اهداف برای سرمایه
									گزاری در اینترنت و طراحی یک سایت کاربردی و سئو آن کمک خواهیم
									کرد.
								</p>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<img class="w-100" alt="" src="/images/laptop2.png" />
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="site-section office">
			<div class="container">
				<div class="spacial-site-box">
					<div class="row">
						<div class="col-12 col-md-6">
							<img class="w-100" alt="" src="/images/laptop3.png" />
						</div>
						<div class="col-12 col-md-6">
							<div class="text-box text-center">
								<span class="icon-container d-block">
									<i class="fas fa-building"></i>
								</span>
								<p class="text-center main-title">طراحی سایت شرکتی</p>
								<br />
								<p class="text-justify">
									هر شرکت و کسب و کاری برای رسیدن به اهداف خود در حوزه دیجیتال
									مارکتینگ و معرفی خدمات یا محصولات احتیاج به یک وبسایت شرکتی
									دارد. وبسایت های رقبای خود را ببینید، اکثر شرکتهای موفق، یک
									سایت مدرن و کاربرپسند طراحی کرده اند، پس چرا ما به آنها
									نپیوندیم؟
								</p>
								<p class="text-justify">
									طراحی سایت شرکتی توسط راش وب با رعایت آخرین اصول سئو صورت می
									گیرد. اگر گوگل را بدست بیاورید همه چیز خواهید داشت. ما به
									شما ورودی هدفمند از گوگل خواهیم داد. یک سایت شرکتی باید
									بتواند تعامل خوبی با کاربران و مشتریان شما داشته باشد، برای
									این منظور طراحی رابط کاربری یا (UI) اهمیت دو چندانی پیدا می
									کند. رابط کاربری تعیین می کند تا مراجعه کننده چطور به سادگی
									به اهداف خود در وبسایت برسد و شانس تبدیل کاربر به مشتری را
									بالا می برد.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="wordpress-site-section">
			<div class="container">
				<p class="main-title text-center">طراحی سایت با وردپرس</p>
				<br />
				<p class="text-justify">
					34 درصد از تمام وبسایت های جهان بر پایه وردپرس مدیریت می شوند.
					وردپرس یک سیستم مدیریت محتوا (CMS) پیشرفته است که به کمک آن می
					توانید تمام محتوای وبسایت را مدیریت کنید. کار با این CMS بسیار ساده
					و کاربرپسند است، به طوری که پس از اتمام پروسه طراحی، طی یک جلسه دو
					ساعته می توان مدیریت وبسایت را به طور کامل به کارفرما سپرد. برای
					مثال چند وبسایت مطرح فارسی زبان که بر پایه وردپرس مدیریت می شوند، می
					توان دیجی‌رو، تکراتو، آرگامگ و … را نام برد که بعید میدانم از انتخاب
					خود پشیمان شده باشند. یک سوال پرتکرار درباره وردپرس که بسیاری از
					مشتریان می پرسند این است که:
				</p>
				<p class="sub-title text-right">
					آیا وردپرس برای سئو انتخاب خوبی است؟
				</p>
				<p class="text-justify">
					قضیه از این قرار است که فرقی نمی کند شما با چه سیستم مدیریت محتوایی
					بر روی سایت خود کار می کنید یا زبان برنامه نویسی که وبسایت شما نوشته
					شده است چیست، مهم رعایت اصول سئو است. اگر اصول سئو در وبسایت شما به
					خوبی پیاده سازی شده باشد گوگل چاره ای جز قبول شما به عنوان سایتی
					ارزشمند ندارد. هم چنین، تجربه به ما ثابت کرده که پیاده سازی برخی
					اصول سئو بر روی وبسایت وردپرس ساده تر خواهد بود چرا که تقریبا هر
					عملی که بخواهید انجام دهید، دسترسی آن در پنل وردپرس وجود دارد.
				</p>
			</div>
		</section>
		<section class="sample-section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<p class="main-title text-center">نمونه طراحی سایت راش‌وب</p>
						<br />
						<br />
						<p class="sample-description text-center">
							نمونه های طراحی سایت ما در حال تکمیل هستند و به زودی نمونه های
							بیشتری در این صفحه آپلود خواهد شد.
						</p>
					</div>
				</div>
				<br />
				<br />
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="box text-center">
							<p class="box-title"> طراحی سایت فروشگاهی </p>
							<div class="image-container">
								<img src="/images/sample-logo1.png" alt="" class="image" />
							</div>
							<p class="text text-center"> وبسایت رسمی نماینده انحصاری فروش محصولات دکتر هلاکویی به آدرس ma-shoma.com </p>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="box text-center">
							<p class="box-title"> طراحی سایت شرکتی </p>
							<div class="image-container">
								<img src="/images/sample-logo2.png" alt="" class="image" />
							</div>
							<p class="text text-center">
								انجام پروژه طراحی سایت و سئو وستینال
								عبارات صداگیری خودرو، سانروف، طاقچه و …
							</p>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="box text-center">
							<p class="box-title"> طراحی سایت مجله اینترنتی </p>
							<div class="image-container">
								<img src="/images/sample-logo3.png" alt="" class="image" />
							</div>
							<p class="text text-center">طراحی سایت، سئو و تولید محتوای اختصاصی مجله اینترنتی فارسی پت </p>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="box text-center">
							<p class="box-title"> طراحی سایت شرکتی </p>
							<div class="image-container">
								<img src="/images/sample-logo4.png" alt="" class="image" />
							</div>
							<p class="text text-center">طراحی سایت و سئو شرکت مهاجرت به ترکیه شایان </p>
						</div>
					</div>

				</div>
		</section>
	</section>

</div>
@section StructuredData{
	@if (ViewBag.param == "content-marketing")
    {
			<script type="application/ld+json">
				{
				"@@context": "https://schema.org",
				"@@type": "FAQPage",
				"mainEntity": [{
				"@@type": "Question",
				"name": "چرا نباید محتوای سایت های دیگر را کپی کرد؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": "محتوای تکراری یا Duplicate content به هیچ وجه دلخواه گوگل نیست. گوگل اصلا قرار نیست به وبسایت هایی که مطالب دیگران یا حتی مطالب خودشان (از صفحه دیگری) را کپی می کنند و در انتظار جایگاهی در نتایج جستجو هستند، جایگاه بدهد. جدای از آن در صورت شکایت نویسنده اصلی به گوگل صفحه شما پاک می شود و ممکن است شامل جریمه های سنگین تری نیز بشوید.
				<a href='https://www.rushweb.ir/blog/Duplicate-content'> محتوای تکراری</a> مانند آفتی به جان سایت شما می افتد و رتبه های شما را یکی پس از دیگری از شما می گیرد. "
				}
				},{
				"@@type": "Question",
				"name": "نکات مهم در نوشتن محتوا برای سایت چیست؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": " پیش از هرچیز مخاطبان خود را بررسی کنید. مخاطبانی که وارد سایت می شوند انتظار روبرو شدن با چه مطالبی را دارند؟ چه سوال هایی ممکن است برایشان پیش بیاید و تا چه اندازه می توانید دقیق به آنها پاسخ دهید؟ اولین قدم برای
				<a href='https://www.rushweb.ir/blog/website-content-strategy'>نوشتن محتوا</a> برای مخاطبین این است که به جای آنها فکر کنیم، به سوالاتی که ممکن است برای آن ها پیش بیاید پاسخ دهیم."
				}
				},{
				"@@type": "Question",
				"name": "لینک سازی داخلی محتوای سایت چگونه باشد؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": "هر زمان مطلب تازه ای بر روی سایت آپلود می کنید می توانید به مطالب و صفحات دیگر
				<a href='https://www.rushweb.ir/blog/internal-link-building'>لینک سازی داخلی</a> کنید. با این ترفند هم به مخاطبان نشان می دهید که در صورت نیاز به اطلاعات بیشتر می توانند کلیک بعدی را انجام دهند هم گوگل متوجه می شود هر صفحه را با چه عباراتی نشان می دهید و احتمالا صفحه هدف شما در عبارت لینک شده پاسخ مناسبی می دهد. پس در صورت بالا رفتن اعتبار دامنه شما تمام این لینک ها با ارزش تر می شوند."
				}
				}
				]}
			</script>
    }
	@if (ViewBag.param == "seo")
    {
			<script type="application/ld+json">
				{
				"@@context": "https://schema.org",
				"@@type": "FAQPage",
				"mainEntity": [{
				"@@type": "Question",
				"name": "چگونه سئو را یاد بگیریم؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": "محتوای تکراری یااگر می خواهید سئو را یاد بگیرید بهترین کاری که می توانید بکنید شروع سئو سایت خودتان است. می توانید با
				<a href="https://www.rushweb.ir/blog/list/seo"> مقالات آموزش سئو رایگان </a>شروع به کار کنید. هم چنین از ابزارهای سئو شناخته شده کمک بگیرید تا بهینه ترین حالت هر صفحه را بسازید."
				}
				},{
				"@@type": "Question",
				"name": "چرا هزینه برخی پروژه های سئو زیاد و برخی کم است؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": " دلایل زیادی وجود دارند که می توانند باعث شوند که هزینه سئو سایتی بالا و یا پایین باشد. رقابت زیاد در عبارات کلیدی، رتبه فعلی سایت، تحقیقات گسترده برای
				<a href="https://www.rushweb.ir/serviceGroup/content-marketing">تولید محتوا</a>، شروع سئو سایت از صفر و هزینه های کلی سازماندهی یک برند به صورت آنلاین عوامل افزایش قیمت پروژه هستند."
				}
				},{
				"@@type": "Question",
				"name": "آیا یادگیری سئو راحت است؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": "یادگیری سئو امری راحت نخواهد بود اما برای متخصص  شدن در هر زمینه ای احتیاج به تلاش و پشتکار است، سئو نیز از این قاعده مستثنی نمی شود. سئو شغلی لذت بخش است که به مطالعه مداوم نیاز دارد. قبل از شروع جستجو و مطالعه درباره سئو بد نیست تا نگاهی به مقالات آموزش سئو راش وب بیاندازید و از اولین مقاله منتشر شده در انتهای صفحه شروع کنید."
				}
				}
				]}
			</script>
    }
	@if (ViewBag.param == "web-design")
    {
			<script type="application/ld+json">
				{
				"@@context":"https://schema.org",
				"@@type":"FAQPage",
				"mainEntity":[{"@@type":"Question","name":"طراحی سایت با کدام سیستم مدیریت محتوا برای سئو بهتر است؟",
				"acceptedAnswer":
				{"@@type":"Answer",
				"text":"در پاسخ به این سوال باید گفت تفاوتی ندارد شما با چه سیستمی محتوای وبسایت خود را مدیریت می کنید، رعایت اصول سئو باید اصلی ترین هدف شما باشد. با رعایت تمام معیارها و فاکتورهای سئو، از محتوای ارزشمند گرفته، سئو تکنیکال، سئو داخلی و خارجی سایت شما باید هماهنگی لازم را داشته باشند و در بهترین شرایط نسبت به رقبا باشید. در این صورت می توان گفت هیچ تفاوتی در سیستم مدیریت محتوا وجو ندارد. اما همه این مسائل نیز در نهایت به طراحی سایت حرفه ای و UI کاربر پسند نیاز خواهد داشت تا بتواند تجربه خوبی برای کاربر به ارمغان بیاورد."}},
				{"@@type":"Question",
				"name":"هزینه طراحی سایت در راش وب چقدر است؟",
				"acceptedAnswer":{"@@type":"Answer","text":"همانطور که پیشتر نیز گفتیم، هزینه طراحی سایت به عوامل زیادی مانند زبان برنامه نویسی، سیستم مدیریت محتوا، امکانات بخصوص و ... بستگی دارد. اما ما در راش وب کف قیمت طراحی سایت شرکتی را کمتر از دو میلیون تومان قرار داده ایم، این هزینه شامل خرید هاست، دامنه و SSL نیز می شود. طراحی سایت ها به صورت کاملا اصولی و با رعایت تمام نکات ریز و درشت سئو سایت صورت می گیرد. حسن انجام پروژه شما توسط راش وب این است که هم طراحی سایت و هم چنین سئو سایت روی عبارات کلیدی شما توسط ما انجام خواهد شد."}},
				{"@@type":"Question",
				"name":"طراحی سایت شامل چه مواردی می شود؟",
				"acceptedAnswer":{"@@type":"Answer","text":"مسلما و بدون شک ساخت و تولید محتوای متنی و تصویری صفحاتی مانند صفحه اصلی، تماس با ما و خدمات یا محصولات با همکاری و همفکری میان مشاوران ما و شما صورت می گیرد. معمولا وبسایت شما با یک قالب و ظاهر آماده تحویل داده می شود و متون بی معنی در آن اضافه می گردد و شما می توانید هرگونه تغییراتی که می خواهید به طراح سایت بسپارید تا انجام دهد. هم چنین برای بخش های اصلی سایت محتوای خود را بنویسید. بخش مقالات نیز توسط راش وب تکمیل می گردد و مقالات هزینه ای مشخص طبق تعرفه تولید محتوا دارد."}}]
				}
			</script>
    }

	<script type="application/ld+json">
		{
		"@@context": "http://schema.org",
		"@@type": "NewsArticle",
		"mainEntityOfPage":
		{
		"@@type":"WebPage",
		"@@id":"@ViewBag.Canonical"
		},
		"headline":"@ViewBag.Title",
		"image":["@ViewBag.image"],
		"datePublished":"@ViewBag.creationDate",
		"dateModified":"@ViewBag.ModifiedDate",
		"author":
		{
		"@@type":"Person",
		"name":"راش وب"
		},
		"publisher":
		{
		"@@type":"Organization",
		"name":"راش وب",
		"logo":{
		"@@type":"ImageObject",
		"url":"https://www.rushweb.ir/images/logo.png"
		}
		}
		@*,
			"description":"@ViewBag.Description",
			"aggregateRating":
			{
			"@@type":"AggregateRating",
			"ratingValue":"@ViewBag.rate",
			"bestRating":"5",
			"ratingCount":"@ViewBag.RatingCount",
			"worstRating":"1"
			}*@
		}
	</script>
}
