
@model ViewModels.ServiceGroupDetialViewModel

<section class="parallax">
	<div class="background-overlay">
		<h1>سئو سایت</h1>
		<p>
			سئو یا “Search Engine Optimisation “SEO به فعالیت های ما برای افزایش تعداد و کیفیت ورودی وبسایت، هم چنین رتبه بندی بهتر در نتایج جستجو با رعایت الگوریتم های موتورهای جستجوگر مانند گوگل گفته می شود.
		</p>
		<a href="/home/contact" class="btn-service">مشاوره رایگان</a>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="what-is-service-pic">
					<img src="~/images/seo-pic2.jpg" class="img-responsive" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="what-is-service">
					<h2>سئو چیست</h2>
					<p>
						به طور خلاصه، سئو مجموعه قوانینی است که برای بهینه سازی سایت خود رعایت می کنیم تا در رتبه بندی نتایج جستجو موتورهای جستجو مخصوصا گوگل جایگاهی بهتر بدست بیاوریم. هم چنین، بهترین راه برای افزایش ترافیک سایت محسوب می شود که با بالا بردن هرچه بیشتر کیفیت سایت به آن دست می یابیم.
					</p>
					<span>
						<i class="fa fa-chart-line"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section bg-background1">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<div class="rush-bordered ">
					<div class="background-overlay">
						<p>آنالیزها نشان می دهند، نتایج صفحه دوم گوگل تنها 5 درصد از کلیک کاربران را به خود اختصاص می دهند، پس اگر می خواهید سهم خوبی از بازار هدف خود در گوگل داشته باشید، رسیدن به صفحه اول و نتایج بالای آن، 95 درصد از راهی است که باید برای دیجیتال مارکتینگ خود بپیمایید.</p>
						<p>
							ما در آژانس خلاقیت و دیجیتال مارکتینگ راش‌وب، شما را در راه رسیدن به لینک یک گوگل همراهی خواهیم کرد و پروژه سئو وبسایت شما را به صورت تضمینی و با مناسب ترین هزینه انجام می دهیم. کافیست تا اطلاعات خود را ثبت کنید تا پس از بررسی وبسایت شما توسط کارشناسان سئو راش‌وب با شما تماس گرفته شود و مشاوره لازم را دریافت کنید.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="rush-packages ">
					<p class="first-par">
						سئو سه بخش اساسی دارد که هر متخصص این حوزه باید برای انجام پروژه این قدوم را طی کند:
					</p>
					<p>
						در نظر داشته باشید که هر کسب و کاری وبسایت خود را به یک شکل بهینه نمی کند و مشخصا هر شرکت سئو نیز پروژه خود را به یک شکل انجام نمی دهد. این وظیفه متخصص سئو خواهد بود که اوضاع کسب و کار و رقابت آنلاین سایت را بسنجد، تشخیص دهد که مخاطبان از چنین وبسایتی چه می خواهند و یک استراتژی سئو همه جانبه برنامه ریزی کند.
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-4">
						<div class="package-item">

							<img src="~/images/offpage-seo.png" class="img-responsive" />
							<h3>سئو خارجی</h3>
							<p>


								این بخش از سئو درباره لینک های سایت در هرجای دیگر دنیای بزرگ وب است. تعداد این “بک لینک ها” و ناشری که آن ها را در سایت خود قرار داده است به بالا بردن اعتبار شما نزد موتورهای جستجو کمک می کند، همین عامل به رتبه بندی بهتر سایت در نتایج جستجو منجر می شود.

							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="package-item">

							<img src="~/images/onpage-seo.png"  class="img-responsive" />
							<h3>
								سئو داخلی
							</h3>
							<p>
								این بخش سئو به طور کلی به هر آنچه در وبسایت شما دیده و لمس می شود مرتبط است. محتوای آن و میزان بهینه بودن برای بالا بردن رتبه سایت پیرامون عبارات کلیدی در این بخش مورد بررسی قرار می گیرد.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="package-item">

							<img src="~/images/offpage-seo.png"  class="img-responsive"  />
							<h3>
								سئو تکنیکال
							</h3>
							<p>
								بخش اولیه و مهم ترین قدم در انجام هر پروژه سئو، سئو تکنیکال است. این بخش به ساختار سایت و کدنویسی آن مرتبط می شود. از آنجایی که گوگل به اندازه محتوای سایت به کدهای آن اهمیت می دهد، این بخش برای رسیدن به رتبه های برتر در نتایج جستجوی گوگل بسیار با اهمیت است.
							</p>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</section>




<section class="section bg-background2">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>
					خدمات سئو سایت راش وب
				</h2>
				<p>
					ما در راش وب در صورتی که پروژه سئو سایت را به طور کامل آغاز کنیم، این فرآیند را در سه مرحله کلی انجام خواهیم داد:
				</p>

			</div>
		</div>
	</div>
</section>

<section class="section bg-color-1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="related-blog">
					<div class="row">
						<div class="col-md-6 order-2">
							<div class="left-blog">
								<ul>
									<li>پیاده سازی نشانه گذاری های استاندارد</li>
									<li>بهبود پارامتر های gtmetrix</li>
									<li>رفع مشکلات ریسپانسیو سایت</li>
									<li>رفع ارورهای کنسول جستجوی گوگل</li>
									<li>سئو عکس های سایت</li>
									<li>اضافه کردن کدهای اسکیما (ستاره دار کردن مطالب و …)</li>
								</ul>
								<div class="blog-img">
									<img src="~/images/seo-blog1.jpg" class="img-responsive"/>
								</div>
								<div class="text-center">	<a href="https://www.rushweb.ir/blog/technical-seo" class="btn-blog">بیشتر بخوانید</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 order-1">
							<div class="right-blog">

								<h3>
									بخش اول: اجرای خدمات سئو تکنیکال
								</h3>
								<p>
									در این بخش خدمات مربوط به بهبود کدهای سایت بر اساس جدیدترین الگوریتم های گوگل، انجام خواهد شد. که شامل تحلیل کامل کدهای سایت می باشد. کلیه مواردی که مربوط به سئو وب سایت در کد های سایت می باشد در این بخش مورد آنالیز و بررسی قرار خواهد گرفت و راهکار ارائه و پیاده سازی خواهند شد.
								</p>
								<p>
									مواردی که در این بخش انجام خواهد شد شامل آیتم های زیر می باشد:
								</p>
								<ul>
									<li> بهینه سازی کدها و تگ های html سایت بر اساس الگوریتم های ارائه شده در سال 2020</li>
									<li> بهینه کردن فایل robot.txt</li>
									<li>پیاده سازی سایت مپ داینامیک</li>
									<li>بهینه سازی ساختار سایت</li>
									<li>پیاده سازی تگ های canonical </li>
									<li>بهینه سازی صفحات ارور و 404</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<div class="related-blog">
					<div class="row">
						<div class="col-md-6">
							<div class="left-blog">
								<p>
									اگر تا به حال برای بالا بردن فروش آنلاین خود برنامه ریزی نداشته اید، می توانید با طراحی سایت فروشگاهی شروع کنید. ما به شما در آنالیز کلمات کلیدی، یافتن بهترین اهداف برای سرمایه گزاری در اینترنت و طراحی یک سایت کاربردی و سئو آن کمک خواهیم کرد.
								</p>
								<div class="blog-img">
									<img src="~/images/seo-onpage.jpg" class="img-responsive"/>
								</div>
								<div class="text-center">	<a href="https://www.rushweb.ir/blog/On-Page-SEO-Guide" class="btn-blog">بیشتر بخوانید</a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="right-blog">

								<h3>
									
									بخش دوم: سئو داخلی (بازاریابی محتوا)

								</h3>
								<p>
									خدمات شرکت راش وب برای بهینه سازی وب سایت در حوزه محتوایی سایت شامل موارد زیر می باشد. خدمات زیر جهت تولید محتوای بهینه ای که بتواند به سئو وب سایت کمک کند ارائه می گردد:	</p>
						 
								<ul>
									<li>شناسایی و آنالیز کلمات کلیدی ارزشمند</li>
								
									<li>
										تدوین ساختاری محتوای سایت و صفحات هدف
									</li>
									<li> ارائه برنامه زمانی و استانداردهای تهیه محتوا</li>
									<li> بررسی محتوای تولید شده توسط پیمانکار و تغییرات آن بر اساس استانداردهای سئو</li>
									<li> مدیریت عناوین و توضیحات مناسب سئو</li>
									<li> تدوین استراتژی لینک سازی داخلی وب سایت</li>
									<li> بهبود داده های متا</li>
									<li> بهینه کردن هر صفحه مقاله برای عبارت کلیدی بخصوص</li>
									<li> وارد کردن توضیحات متای تمام صفحات</li>
									 
								</ul>
							</div>
						</div>
					</div>
				</div>
				

				<div class="related-blog">
					<div class="row">
						<div class="col-md-6">
							<div class="left-blog">
								<p>
									یک سایت شرکتی باید بتواند تعامل خوبی با کاربران و مشتریان شما داشته باشد، برای این منظور طراحی رابط کاربری یا (UI) اهمیت دو چندانی پیدا می کند. رابط کاربری تعیین می کند تا مراجعه کننده چطور به سادگی به اهداف خود در وبسایت برسد و شانس تبدیل کاربر به مشتری را بالا می برد.
								</p>
								<div class="blog-img">
									<img src="~/images/seo-off.jpg" class="img-responsive" />
								</div>
								<div class="text-center">
									<a href="https://www.rushweb.ir/blog/off-page-seo-technics" class="btn-blog">بیشتر بخوانید</a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="right-blog">

								<h3>
									بخش سوم: لینک سازی و سئو خارجی
								</h3>
								<p>
									خدمات شرکت راش وب برای بهینه سازی وب سایتها در حوزه سئو خارجی و لینک سازی شامل موارد زیر می شود:								</p>

								<ul>
									<li>		بررسی فعالیت فعلی سایت و آنالیز رقبا<li>
									<li> تدوین برنامه و استراتژی لینک سازی دستی و فعالیت در شبکه های اجتماعی</li>
									<li> تدوین برنامه خرید رپورتاژ آگهی بر اساس بودجه و نیاز</li>
									<li> بهبود وضعیت رپورتاژهای انتشار داده شده</li>
									<li> تدوین برنامه خرید بک لینک بر اساس بودجه و نیاز</li>
									<li>
										حذف لینک های مخرب و رهایی از جریمه های گوگل
									</li>
	 

								</ul>
								<p>طراحی سایت شرکتی توسط راش وب با رعایت آخرین اصول سئو صورت می گیرد. اگر گوگل را بدست بیاورید همه چیز خواهید داشت. ما به شما ورودی هدفمند از گوگل خواهیم داد.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section bg-color-2">
<div class="container">
	<div class="row price-seo">
		<div class="col-md-6">
			<div class="telegram">
				<div class="text-center">
					<a href="https://t.me/rushwebsupport">	<img src="~/images/telegram-con.png" class="img-responsive" /></a>
					<p>تلگرام راش وب: rushwebsupport@@</p>
					<p class="second-color">

						برای مشاوره رایگان طراحی سایت در تلگرام با ما در ارتباط باشید
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h2>
				
				هزینه سئو سایت چقدر است؟

			</h2>
			<p>
				هیچ استاندارد، متر و معیاری برای قیمت انجام پروژه سئو وجود ندارد و این هزینه در اکثر اوقات طبق توافقی میان کارفرما و شرکت مجری تعیین می گردد. سابقه مجری و نمونه پروژه های انجام شده نیز از اهمیت بالایی برخوردار است.
			</p>
			
			<p>اما ما می خواهیم تا حداقل و حداکثر قیمت خدمات سئو را در یک بازه بیاوریم. با این کار شما می فهمید که هزینه های شما صرف چه کاری می شوند و می توانید بهتر تصمیم گیری کنید.</p>
		
			<p>
				– انجام پروژه کلی سئو: از 3 میلیون تومان به بالا<br/>
				برخی خدمات سئو که قیمتی ثابت دارند:<br />
				– تولید محتوا متنی: بین 30 تا 60 تومان به ازای هر کلمه<br />
				– تبیین استراتژی تولید محتوا: 300 تا 1 میلیون تومان<br />
				– انجام لینک سازی خارجی و تعیین استراتژی خرید لینک از یک میلیون تومان به بالا<br />
				– تولید محتوا و فعالیت در شبکه های اجتماعی: از 1 تا 2 میلیون تومان (ماهیانه) 
			</p>
		</div>
	</div>
</div>
	</section>

<section class="section">
	<div class="container portfolio-seo">
		<div class="row mb40">
			<div class="col-md-12">
				<h2>
					نمونه پروژه سئو سایت راش وب
				</h2>
				<p>
					برای ما سئو سایت راش وب از صفر تا صد به صورت اصولی، اصلی ترین پروژه ای است که قصد معرفی به مشتریان خود داریم. با وجود رقبای بزرگی در سایت های همکار، ما توانستیم عبارات هدف اصلی خود “خرید رپورتاژ” ، “خرید رپورتاژ آگهی” و “خرید رپورتاژ خبری” را در کم تر از شش ماه در صفحه یک نتایج گوگل ببینیم. هم چنین با تکیه بر پتانسیل های سئو محلی، پروژه های طراحی سایت و سئو زیادی بدست آوردیم و در عین حال از هزینه های گزاف سئو در این بخش ها دوری کردیم.
				</p>
				<figure>
					<img src="~/images/sample-seo.jpg"  class="img-responsive"/>
					<figcaption>
						رشد ورودی گوگل وبسایت در بازه سه ماهه در یک پروژه کاملا استاندارد
					</figcaption>
				</figure>
			</div>
		</div>
	
		<div class="row">
			@foreach (var portfolio in Model.Portfolios)
			{
				<div class="col-md-6">
					<div class="portfolio-item">
						<h3>@portfolio.Title</h3>
						<img src="@portfolio.ImageUrl" class="img-responsive"/>
						<p>
							@portfolio.Summery
						</p>
						<p>
						</p>
					</div>
				</div>
			}
	 
		</div>
	</div>
</section>

<section>
	@if (Model.Questions.Count() > 0)
	{
		<div id="accordion">
			<div class="container">
				<div class="accord-heading">
					<h3>سوالات متداول</h3>
				</div>
				<div class="accord-headlines">
					@foreach (var ques in Model.Questions)
					{
						<div class="card">
							<div class="card-header" id="">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#@ques.Id" aria-expanded="true" aria-controls="collapseOne">
										@ques.Title
									</button>
									<i class="fa fa-angle-left"></i>
								</h5>
							</div>

							<div id="@ques.Id" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									@Html.Raw(ques.Body)
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	}
</section>


<section>
	<div class="container">
		@if (Model.ServiceGroup.IsFormActive == true)
            {
				<div class="col-lg-12 col-md-12 col-xs-12">

					<div class="service-form">
						<div class="form-area">
							<h3 class="text-right">
								فرم درخواست
								@if (!HttpContext.Current.User.Identity.IsAuthenticated)
								{
										<span>(جهت ارسال درخواست <a href="/account/login">وارد</a> سایت شوید)</span>
								}
							</h3>
							<div id="request-form" name="contact_form" class="default-form" action="" method="post">
								<div class="alert alert-success dir-rtl" id="SuccessDivC">درخواست شما با موفقیت ثبت شد.</div>
								<div class="alert alert-danger dir-rtl" id="errorDivC"></div>
								<div class="row clearfix">

									<div class="col-md-4 col-sm-6 col-xs-12 float-right">
										<div class="form-group dir-rtl">
											<input type="email" name="form_email" class="form-control required email" value="" placeholder="آدرس سایت" required="" id="txtSite">
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12 float-right">
										<div class="form-group dir-rtl">
											<input type="email" name="form_email" class="form-control required email" value="" placeholder="ایمیل" required="" id="txtEmail">
										</div>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-12 float-right">
										<div class="form-group dir-rtl">
											<input type="text" name="form_email" class="form-control required email" value="" placeholder="شماره تماس" required="" id="txtPhone">
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12 float-right">
										<div class="form-group dir-rtl">
											<div class="form-group text-right">
												@Html.DropDownList("SiteTypeId", null, "نوع سایت", new { @class = "form-control" })
											</div>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12 float-right">
										<div class="form-group dir-rtl">
											@Html.DropDownList("ServiceTypeId", null, "نوع خدمت", new { @class = "form-control" })
										</div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 float-right">
										<div class="form-group dir-rtl lg-width">
											<input type="email" name="form_email" class="form-control required email" value="" placeholder="کلمات کلیدی" required="" id="txtMainWord">
										</div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 float-right">
										<div class="form-group dir-rtl lg-width">
											<textarea type="email" name="form_email" class="form-control required email" value="" placeholder="توضیحات" required="" id="txtDesc"></textarea>
										</div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 float-right">
										<div class="form-group form-bottom">
											<input type="button" value="ارسال" class="btn-style-one" width="10%" onclick="SendRequest('@ViewBag.id'); return false;" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            }
	</div>
</section>
@section StructuredData{
	@if (ViewBag.param == "content-marketing")
    {
			<script type="application/ld+json">
				{
				"@@context": "https://schema.org",
				"@@type": "FAQPage",
				"mainEntity": [{
				"@@type": "Question",
				"name": "چرا نباید محتوای سایت های دیگر را کپی کرد؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": "محتوای تکراری یا Duplicate content به هیچ وجه دلخواه گوگل نیست. گوگل اصلا قرار نیست به وبسایت هایی که مطالب دیگران یا حتی مطالب خودشان (از صفحه دیگری) را کپی می کنند و در انتظار جایگاهی در نتایج جستجو هستند، جایگاه بدهد. جدای از آن در صورت شکایت نویسنده اصلی به گوگل صفحه شما پاک می شود و ممکن است شامل جریمه های سنگین تری نیز بشوید.
				<a href='https://www.rushweb.ir/blog/Duplicate-content'> محتوای تکراری</a> مانند آفتی به جان سایت شما می افتد و رتبه های شما را یکی پس از دیگری از شما می گیرد. "
				}
				},{
				"@@type": "Question",
				"name": "نکات مهم در نوشتن محتوا برای سایت چیست؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": " پیش از هرچیز مخاطبان خود را بررسی کنید. مخاطبانی که وارد سایت می شوند انتظار روبرو شدن با چه مطالبی را دارند؟ چه سوال هایی ممکن است برایشان پیش بیاید و تا چه اندازه می توانید دقیق به آنها پاسخ دهید؟ اولین قدم برای
				<a href='https://www.rushweb.ir/blog/website-content-strategy'>نوشتن محتوا</a> برای مخاطبین این است که به جای آنها فکر کنیم، به سوالاتی که ممکن است برای آن ها پیش بیاید پاسخ دهیم."
				}
				},{
				"@@type": "Question",
				"name": "لینک سازی داخلی محتوای سایت چگونه باشد؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": "هر زمان مطلب تازه ای بر روی سایت آپلود می کنید می توانید به مطالب و صفحات دیگر
				<a href='https://www.rushweb.ir/blog/internal-link-building'>لینک سازی داخلی</a> کنید. با این ترفند هم به مخاطبان نشان می دهید که در صورت نیاز به اطلاعات بیشتر می توانند کلیک بعدی را انجام دهند هم گوگل متوجه می شود هر صفحه را با چه عباراتی نشان می دهید و احتمالا صفحه هدف شما در عبارت لینک شده پاسخ مناسبی می دهد. پس در صورت بالا رفتن اعتبار دامنه شما تمام این لینک ها با ارزش تر می شوند."
				}
				}
				]}
			</script>
    }
	@if (ViewBag.param == "seo")
    {
			<script type="application/ld+json">
				{
				"@@context": "https://schema.org",
				"@@type": "FAQPage",
				"mainEntity": [{
				"@@type": "Question",
				"name": "چگونه سئو را یاد بگیریم؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": "محتوای تکراری یااگر می خواهید سئو را یاد بگیرید بهترین کاری که می توانید بکنید شروع سئو سایت خودتان است. می توانید با
				<a href="https://www.rushweb.ir/blog/list/seo"> مقالات آموزش سئو رایگان </a>شروع به کار کنید. هم چنین از ابزارهای سئو شناخته شده کمک بگیرید تا بهینه ترین حالت هر صفحه را بسازید."
				}
				},{
				"@@type": "Question",
				"name": "چرا هزینه برخی پروژه های سئو زیاد و برخی کم است؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": " دلایل زیادی وجود دارند که می توانند باعث شوند که هزینه سئو سایتی بالا و یا پایین باشد. رقابت زیاد در عبارات کلیدی، رتبه فعلی سایت، تحقیقات گسترده برای
				<a href="https://www.rushweb.ir/serviceGroup/content-marketing">تولید محتوا</a>، شروع سئو سایت از صفر و هزینه های کلی سازماندهی یک برند به صورت آنلاین عوامل افزایش قیمت پروژه هستند."
				}
				},{
				"@@type": "Question",
				"name": "آیا یادگیری سئو راحت است؟",
				"acceptedAnswer": {
				"@@type": "Answer",
				"text": "یادگیری سئو امری راحت نخواهد بود اما برای متخصص  شدن در هر زمینه ای احتیاج به تلاش و پشتکار است، سئو نیز از این قاعده مستثنی نمی شود. سئو شغلی لذت بخش است که به مطالعه مداوم نیاز دارد. قبل از شروع جستجو و مطالعه درباره سئو بد نیست تا نگاهی به مقالات آموزش سئو راش وب بیاندازید و از اولین مقاله منتشر شده در انتهای صفحه شروع کنید."
				}
				}
				]}
			</script>
    }
	@if (ViewBag.param == "web-design")
    {
			<script type="application/ld+json">
				{
				"@@context":"https://schema.org",
				"@@type":"FAQPage",
				"mainEntity":[{"@@type":"Question","name":"طراحی سایت با کدام سیستم مدیریت محتوا برای سئو بهتر است؟",
				"acceptedAnswer":
				{"@@type":"Answer",
				"text":"در پاسخ به این سوال باید گفت تفاوتی ندارد شما با چه سیستمی محتوای وبسایت خود را مدیریت می کنید، رعایت اصول سئو باید اصلی ترین هدف شما باشد. با رعایت تمام معیارها و فاکتورهای سئو، از محتوای ارزشمند گرفته، سئو تکنیکال، سئو داخلی و خارجی سایت شما باید هماهنگی لازم را داشته باشند و در بهترین شرایط نسبت به رقبا باشید. در این صورت می توان گفت هیچ تفاوتی در سیستم مدیریت محتوا وجو ندارد. اما همه این مسائل نیز در نهایت به طراحی سایت حرفه ای و UI کاربر پسند نیاز خواهد داشت تا بتواند تجربه خوبی برای کاربر به ارمغان بیاورد."}},
				{"@@type":"Question",
				"name":"هزینه طراحی سایت در راش وب چقدر است؟",
				"acceptedAnswer":{"@@type":"Answer","text":"همانطور که پیشتر نیز گفتیم، هزینه طراحی سایت به عوامل زیادی مانند زبان برنامه نویسی، سیستم مدیریت محتوا، امکانات بخصوص و ... بستگی دارد. اما ما در راش وب کف قیمت طراحی سایت شرکتی را کمتر از دو میلیون تومان قرار داده ایم، این هزینه شامل خرید هاست، دامنه و SSL نیز می شود. طراحی سایت ها به صورت کاملا اصولی و با رعایت تمام نکات ریز و درشت سئو سایت صورت می گیرد. حسن انجام پروژه شما توسط راش وب این است که هم طراحی سایت و هم چنین سئو سایت روی عبارات کلیدی شما توسط ما انجام خواهد شد."}},
				{"@@type":"Question",
				"name":"طراحی سایت شامل چه مواردی می شود؟",
				"acceptedAnswer":{"@@type":"Answer","text":"مسلما و بدون شک ساخت و تولید محتوای متنی و تصویری صفحاتی مانند صفحه اصلی، تماس با ما و خدمات یا محصولات با همکاری و همفکری میان مشاوران ما و شما صورت می گیرد. معمولا وبسایت شما با یک قالب و ظاهر آماده تحویل داده می شود و متون بی معنی در آن اضافه می گردد و شما می توانید هرگونه تغییراتی که می خواهید به طراح سایت بسپارید تا انجام دهد. هم چنین برای بخش های اصلی سایت محتوای خود را بنویسید. بخش مقالات نیز توسط راش وب تکمیل می گردد و مقالات هزینه ای مشخص طبق تعرفه تولید محتوا دارد."}}]
				}
			</script>
    }

	<script type="application/ld+json">
		{
		"@@context": "http://schema.org",
		"@@type": "NewsArticle",
		"mainEntityOfPage":
		{
		"@@type":"WebPage",
		"@@id":"@ViewBag.Canonical"
		},
		"headline":"@ViewBag.Title",
		"image":["@ViewBag.image"],
		"datePublished":"@ViewBag.creationDate",
		"dateModified":"@ViewBag.ModifiedDate",
		"author":
		{
		"@@type":"Person",
		"name":"راش وب"
		},
		"publisher":
		{
		"@@type":"Organization",
		"name":"راش وب",
		"logo":{
		"@@type":"ImageObject",
		"url":"https://www.rushweb.ir/images/logo.png"
		}
		}
		@*,
			"description":"@ViewBag.Description",
			"aggregateRating":
			{
			"@@type":"AggregateRating",
			"ratingValue":"@ViewBag.rate",
			"bestRating":"5",
			"ratingCount":"@ViewBag.RatingCount",
			"worstRating":"1"
			}*@
		}
	</script>
	<link href="~/Content/FrontEndLayout/style-service.css" rel="stylesheet" />
}
