@model ViewModels.HomeViewModel
@*@{
    ViewBag.Title = " آژانس دیجیتال مارکتینگ راش‌وب";
}*@

<!--Start rev slider wrapper-->
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            <li class="gradient-overlay" data-transition="slotzoom-horizontal" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Awesome Title Here">

                <div class="tp-caption lfr sfb tp-resizeme start"
                     data-x="left" data-hoffset="-100"
                     data-y="top" data-voffset="-200"
                     data-speed="1500"
                     data-start="0"
                     data-easing="easeOutExpo"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.03"
                     data-endelementdelay="0.3"
                     data-endspeed="1200"
                     data-endeasing="Power4.easeIn"><img src="/images/main-slider/7.png" alt=""></div>

                <div class="tp-caption lfb sfb tp-resizeme start"
                     data-x="left" data-hoffset="375"
                     data-y="top" data-voffset="250"
                     data-speed="1500"
                     data-start="500"
                     data-easing="easeOutExpo"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.03"
                     data-endelementdelay="0.3"
                     data-endspeed="1200"
                     data-endeasing="Power4.easeIn">
                    <div class="slider-text">
                        <h1>@Html.Raw(Model.SliderBoldText)</h1>
                        <p>@Html.Raw(Model.SliderText)</p>
                        <a class="btn-style-one" href="/service/shopping-web-design">طراحی سایت</a>
                        <a class="btn-style-one" href="/reportage">خرید رپورتاژ</a>
                        @*<a class="btn-style-one" href="/serviceGroup/seo">سئو سایت</a>
                        <a class="btn-style-one" href="/serviceGroup/content-marketing">تولید محتوا</a>
                        <a class="btn-style-one" href="/backlink">خرید بک لینک</a>*@
                    </div>
                </div>

                <div class="tp-caption lft sfb tp-resizeme start"
                     data-x="left" data-hoffset="0"
                     data-y="center" data-voffset="-50"
                     data-speed="1500"
                     data-start="1000"
                     data-easing="easeOutExpo"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.3"
                     data-endspeed="1200"
                     data-endeasing="Power4.easeIn"><img src="/images/main-slider/1.png" alt=""></div>

                <div class="tp-caption Rfb sfb tp-resizeme start"
                     data-x="right" data-hoffset="-90"
                     data-y="bottom" data-voffset="-130"
                     data-speed="1500"
                     data-start="1500"
                     data-easing="easeOutExpo"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.3"
                     data-endspeed="1200"
                     data-endeasing="Power4.easeIn"><img src="/images/main-slider/2.png" alt=""></div>

                <div class="tp-caption lfr sfb tp-resizeme start"
                     data-x="right" data-hoffset="150"
                     data-y="top" data-voffset="-40"
                     data-speed="1500"
                     data-start="2000"
                     data-easing="easeOutExpo"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.3"
                     data-endspeed="1200"
                     data-endeasing="Power4.easeIn"><img src="/images/main-slider/3.png" alt=""></div>

                <div class="tp-caption lfr sfb tp-resizeme start"
                     data-x="right" data-hoffset="310"
                     data-y="top" data-voffset="125"
                     data-speed="1500"
                     data-start="2500"
                     data-easing="easeOutExpo"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.3"
                     data-endspeed="1200"
                     data-endeasing="Power4.easeIn"><div class="image-4"><img src="/images/main-slider/4.png" alt=""></div></div>

                <div class="tp-caption lfb sfb tp-resizeme start"
                     data-x="right" data-hoffset="200"
                     data-y="center" data-voffset="0"
                     data-speed="1500"
                     data-start="3000"
                     data-easing="easeOutExpo"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.3"
                     data-endspeed="1200"
                     data-endeasing="Power4.easeIn"><img src="/images/main-slider/5.png" alt=""></div>

                <div class="tp-caption lfb sfb tp-resizeme start"
                     data-x="center" data-hoffset="0"
                     data-y="bottom" data-voffset="-50"
                     data-speed="1500"
                     data-start="3500"
                     data-easing="easeOutExpo"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.3"
                     data-endspeed="1200"
                     data-endeasing="Power4.easeIn"><div class="image-6"><img src="/images/main-slider/6.png" alt=""></div></div>

            </li>
        </ul>
    </div>
</section>
<!--End rev slider wrapper-->
<!--Wellcome Section-->
<section class="wellcome-section">
    <div class="container">
        <div class="section-title text-center">
            <h2>@Model.UnderSliderMainText.Title</h2>
            <p>@Html.Raw(Model.UnderSliderMainText.Body)</p>
        </div>
        <div class="row">
            @foreach (var item in Model.UnderSliderText)
            {
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="item-holder text-center">
                        <div class="icon-box">
                            @*<i class="flaticon-vector"></i>*@
                            <img src="@item.ImageUrl" width="100" height="100" />
                        </div>
                        <div class="text">
                            <h5>@item.Title</h5>
                            <p>@Html.Raw(item.Body)</p>
                        </div>
                    </div>
                </div>
            }
            @*<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-holder text-center">
                        <div class="icon-box">
                            <i class="flaticon-computer"></i>
                        </div>
                        <div class="text">
                            <a href="#"><h5>نگاه کوتاه مدت + طولانی مدت</h5></a>
                            <p>شما هم زمان باید دو مساله را در نظر بگیرید: فروش لحظه و رشد طولانی مدت.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-holder text-center">
                        <div class="icon-box">
                            <i class="flaticon-bar-chart"></i>
                        </div>
                        <div class="text">
                            <a href="#"><h5>رویکردی درست و اصولی</h5></a>
                            <p>فقط بازاریابی اصولی و درست است که می‌تواند تاثیری عمیق بر روی کسب و کار شما داشته باشد.
                            </p>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</section>
<!--End Wellcome Section-->
<!--Fact Counter-->
<section class="fact-counter hidden-xs" id="fact">
    <div class="container">
        <div class="row clearfix">
            <div class="counter-outer clearfix">
                <!--Column-->
                <article class="column counter-column col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="item">
                        <div class="count-outer">
                            <div class="icon">
                                <i class="flaticon-layers"></i>
                            </div>
                            <span class="count-text" data-speed="3000" data-stop="1589">0</span>
                        </div>
                        <h4 class="counter-title">رپورتاژ آگهی منتشر شده</h4>
                    </div>
                </article>

                <!--Column-->
                <article class="column counter-column col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="item">
                        <div class="count-outer">
                            <div class="icon">
                                <i class="flaticon-users"></i>
                            </div>
                            <span class="count-text" data-speed="3000" data-stop="230">0</span>
                        </div>
                        <h4 class="counter-title">مشتری راضی</h4>
                    </div>
                </article>

                <!--Column-->
                <article class="column counter-column col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="item">
                        <div class="count-outer">
                            <div class="icon">
                                <i class="flaticon-cup"></i>
                            </div>
                            <span class="count-text" data-speed="3000" data-stop="1050">0</span>
                        </div>
                        <h4 class="counter-title">محتوای تولید شده</h4>
                    </div>
                </article>

                <!--Column-->
                <article class="column counter-column col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="item">
                        <div class="count-outer">
                            <div class="icon">
                                <i class="flaticon-trophy"></i>
                            </div>
                            <span class="count-text" data-speed="3000" data-stop="380">0</span>
                        </div>
                        <h4 class="counter-title">پروژه موفق</h4>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!--End Fact Counter-->
<!--Choose Us-->
@*<section class="testimonials-section" id="testimonials">
    <div class="container">

      
        <div class="single-item-carousel">
            @foreach (var text in Model.Chooseus)
            {
                <div class="item">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="text-area">
                                <div class="text-right section-title2">
                                    <h2>@text.Title</h2>
                                </div>
                                <div class="section-desc">
                                    <p>@Html.Raw(text.Body)</p>
                                </div>
                             
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="image-box">
                                <figure>
                                    <img src="@text.ImageUrl" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>*@
<section class="choose-us">
        <div class="container">
           
            <div class="choose-child">
                <div class="section-title text-center">
                    <h2>@Html.Raw(Model.WhyRush.Title)</h2>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <div class="text">
                        <p>
                            @Html.Raw(Model.WhyRush.Description)
                        </p>
                    </div>

                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <img src="/images/CB_5.jpg" />

                </div>
            </div>
            

        </div>
    </section>
<!--End Choose Us-->
<!--Cta Section-->
<section class="cta-section" style="background: url(/images/background/1.jpg);">
    <div class="container">
        <h2>
            @Html.Raw(Model.MiddleText)
    </h2>
    <h5>
        آژانس دیجیتال مارکتینگ راش‌وب
    </h5>

</div>
</section>

<!--End Team Section-->
<!--Sponsors Style-->
<section class="sponsors-logos hidden-xs">
    <div class="your-logo wow fadeInUp">
        <div class="sponsors-container">
            @*<h2>مشتریان راش‌وب</h2>*@
            <ul class="sponsors-slider">
                @foreach (var customer in Model.Customers)
                {
                    <li class="image-holder">
                        <div class="image-box">
                            <a href="#"><img src="@customer.ImageUrl" alt="@customer.Title"></a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>
<!--End Sponsors Style-->
<!--Blog Section-->
<section class="blog-section">
    <div class="container">
        <div class="section-title text-center">
            <h2>مطالب وبلاگ</h2>
        </div>
        <div class="row">
            @foreach (var blog in Model.Blogs)
            {
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="item-holder">
                        <div class="image-box blog-list">
                            <figure>
                                <a href="/blog/@blog.UrlParam"><img src="@blog.ImageUrl" alt="@blog.Title"></a>
                            </figure>
                            <div class="date-box">
                                <span>@string.Format("{0:dd MMM yyyy}", blog.CreationDate)</span>
                            </div>
                        </div>
                        <div class="text-area">
                            <div class="content-text text-center main-blogs">
                                <div class="sec-title">
                                    <a href="/blog/@blog.UrlParam"><h5>@blog.Title</h5></a>
                                </div>
                                <div class="text">
                                    <p>@Html.Raw(blog.Summery) </p>
                                </div>
                            </div>
                            <div class="blog-info clearfix">

                                <ul class="right-side pull-right">
                                    <li><i class="fa fa-eye" aria-hidden="true"></i>@blog.Visit</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--End Blog Section-->
<!-- Contact Section -->
<section class="contact-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="right-side">
                    <div class="text">
                        <p>@Html.Raw(Model.ContactInfo.MainText.Description)</p>
                    </div>
                    <ul>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>@Html.Raw(Model.ContactInfo.Address.Body)</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>@Html.Raw(Model.ContactInfo.Phone.Body)</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>@Html.Raw(Model.ContactInfo.Email.Body)</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="left-side">
                    <form id="contact_form" name="contact_form" action="sendmail.php" method="post">
                        <div class="form-group">
                            <input type="text" name="form_name" class="form-control" value="" placeholder="نام" required="" id="txtName">
                        </div>
                        <div class="form-group">
                            <input type="text" name="form_phone" class="form-control" value="" placeholder="شماره موبایل" required="" id="txtCellNum">
                        </div>
                        <div class="form-group">
                            <textarea name="form_message" class="form-control textarea required" placeholder="پیغام" id="txtBody"></textarea>
                        </div>
                        <div class="form-group form-bottom">
                            <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                            <button class="btn-style-one" type="button" data-loading-text="Please wait..." id="btnSendMsg" onclick="SendMessage(); return false;">ارسال پیغام</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="subscribe-section">
    <div class="container">
        <div class="text-area">
            <div class="section-title text-center">
                <h2>ثبت نام در خبرنامه</h2>
                <p>با ثبت نام در خبر نامه راش‌وب از جدیدترین مقالات ما با خبر شوید</p>
            </div>
            <form method="post" action="contact.html">
                <div class="row">

                    <div class="col-lg-3">
                        <div class="form-group">
                            <button type="button" class="btn-style-one" onclick="JoinNewsLetter(); return false;">ثبت</button>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="ایمیل خود را وارد نمایید" required="" id="txtEmail">
                        </div>
                    </div>
                </div>
            </form>
            <ul class="social-links text-center">
                @*<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>*@
                <li><a href="https://t.me/Rushweb"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</section>

@*@section zavosh{
    <a href="http://zavoshsoftware.com/">زاوش</a>
        }*@
